@use "./variables" as *;
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  background-color: $color-bg-page;
  color: $color-text-main;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  // gap: $space-5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  margin: 0;
}
